@charset "UTF-8";
* { margin: 0; padding: 0; list-style: none; text-decoration: none; color: #000; }

:root { --font-color: #19bc64; --livingDesign-title-color-one: #8c462b; --livingDesign-title-color-two: #3d414b; --livingDesign-title-color-three: #ca8355; --livingDesign-title-color-four: #764b33; --main-title-font-color: #fff; }

img { width: 100%; height: 100%; }

body { min-width: 1200px; }

.active_banner_list { background-color: #fff; }

.title_box { margin-top: 137px; margin-bottom: 65px; display: flex; flex-direction: column; align-items: center; justify-content: center; }
.title_box .title { width: 789px; height: 46px; }
.title_box .title img { width: 100%; height: 100%; }
.title_box .botton_box { display: flex; flex-direction: column; align-items: center; margin-top: 23px; }
.title_box .botton_box .msg_title { position: relative; text-align: center; width: 178px; height: 42px; line-height: 42px; border: solid 1px #e0e0e0; }
.title_box .botton_box .msg_title::after { position: absolute; top: 50%; left: 100%; content: ''; display: block; width: 210px; height: 0; border-bottom: 2px solid #e0e0e0; transform: translateX(-10%); }
.title_box .botton_box .msg_title::before { position: absolute; top: 50%; right: 100%; content: ''; display: block; width: 210px; height: 0; transform: translateX(10%); border-bottom: 2px solid #e0e0e0; }
.title_box .botton_box p { text-align: center; font-size: 14px; transform: scale(0.6); }

header { width: 100%; height: 65px; display: flex; justify-content: space-around; align-items: center; background-color: #fff; }
header .logo { width: 54px; height: 33px; }
header .logo img { width: 100%; height: 100%; }
header .navList { height: 100%; }
header .navList ul { display: flex; align-items: center; height: 100%; }
header .navList ul li { font-size: 16px; height: 100%; margin: 0 25px; }
header .navList ul li a { display: flex; height: 99%; font-size: 16px; align-items: center; }
header .navList ul li:hover a { color: #19bc64; }
header .navList ul li .active_color_a { border-bottom: 1px solid #19bc64; color: #19bc64; }

footer { background-color: #202020; width: 100%; height: 313px; }
footer .footer_content { height: 100%; }
footer .footer_content .msg_content { display: flex; height: 100%; justify-content: center; align-items: center; }
footer .footer_content .msg_content .last_content_item > li { margin-bottom: 36px; }
footer .footer_content .msg_content .last_content_item > li span, footer .footer_content .msg_content .last_content_item > li i { color: var(--main-title-font-color); }
footer .footer_content .msg_content .last_content_item .phone_link { border-left: 1px solid #4d4d4d; padding-left: 25px; }
footer .footer_content .msg_content .last_content_item .phone_link li:not(:last-child) { margin-bottom: 29px; }
footer .footer_content .msg_content .last_content_item .phone_link li span, footer .footer_content .msg_content .last_content_item .phone_link li i { color: var(--main-title-font-color); }
footer .footer_content .msg_content .content_item { display: flex; flex-direction: column; }
footer .footer_content .msg_content .content_item li a { color: #999999 !important; font-size: 14px; }
footer .footer_content .msg_content .content_item li:first-child a { font-size: 16px; color: #e6e6e6 !important; margin-bottom: 39px; }
footer .footer_content .msg_content .content_item li:not(:last-child) { margin-right: 100px; margin-bottom: 24px; }
footer .footer_content .msg_content .content_item li { color: #999999; font-size: 14px; }
footer .footer_content .msg_content .content_item li:first-child { font-size: 16px; color: #e6e6e6; margin-bottom: 39px; }
footer .footer_bottom { height: 38px; width: 100%; background-color: #202020; border-top: 1px solid #ccc; display: flex; justify-content: space-around; align-items: center; }
footer .footer_bottom .box { width: 1185px; display: flex; justify-content: space-around; align-items: center; }
footer .footer_bottom .box .trademark_msg { color: var(--main-title-font-color); font-size: 12px; }
footer .footer_bottom .box .link_box { display: flex; align-items: center; justify-content: center; }
footer .footer_bottom .box .link_box p { color: var(--main-title-font-color) !important; }
footer .footer_bottom .box .link_box i { font-size: 25px; color: var(--main-title-font-color); }
footer .footer_bottom .box .link_box i:not(:last-child) { margin-right: 10px; }

.banner { position: relative; width: 100%; z-index: 1; height: 758px; display: flex; box-sizing: border-box; flex-direction: column; align-items: center; padding-top: 300px; background: url("/assets/indexImg/图层2.png") no-repeat; }
.banner .banner_title { margin-bottom: 66px; }
.banner .banner_title h1 { font-size: 50px; color: #fff; letter-spacing: 10px; }
.banner .banner_title p { text-align: center; color: #fff; transform: scale(0.6); letter-spacing: 10px; }
.banner .banner_title_two { text-align: center; }
.banner .banner_title_two p { position: relative; font-size: 16px; color: #ccc; margin-bottom: 20px; }
.banner .banner_title_two p::after { content: ''; display: block; width: 40px; height: 0; border-bottom: 2px solid #fff; position: absolute; left: 50%; bottom: 0; transform: translate(-50%, 300%); }
.banner .banner_title_two h3 { font-size: 25px; color: #fff; font-weight: 400; }
.banner .banner_msg_box { position: relative; width: 150px; height: 40px; border: 1px solid #fff; margin-top: 30px; cursor: pointer; }
.banner .banner_msg_box p { color: #fff; text-align: center; line-height: 40px; }
.banner .banner_msg_box .anime_box { margin-top: 40px; text-align: center; color: #fff; font-size: 24px; }
.banner .banner_list_box { position: absolute; bottom: 15px; margin-top: 50px; }
.banner .banner_list_box ul { display: flex; width: 73px; justify-content: space-around; }
.banner .banner_list_box ul li { width: 14px; height: 14px; border-radius: 50%; border: 1px solid #fff; cursor: pointer; }
.banner .banner_mask { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.353); z-index: -1; }
