@charset "UTF-8";
* { margin: 0; padding: 0; list-style: none; text-decoration: none; color: #000; }

:root { --font-color: #19bc64; --livingDesign-title-color-one: #8c462b; --livingDesign-title-color-two: #3d414b; --livingDesign-title-color-three: #ca8355; --livingDesign-title-color-four: #764b33; --main-title-font-color: #fff; }

img { width: 100%; height: 100%; }

body { min-width: 1200px; }

.active_banner_list { background-color: #fff; }

.title_box { margin-top: 137px; margin-bottom: 65px; display: flex; flex-direction: column; align-items: center; justify-content: center; }
.title_box .title { width: 789px; height: 46px; }
.title_box .title img { width: 100%; height: 100%; }
.title_box .botton_box { display: flex; flex-direction: column; align-items: center; margin-top: 23px; }
.title_box .botton_box .msg_title { position: relative; text-align: center; width: 178px; height: 42px; line-height: 42px; border: solid 1px #e0e0e0; }
.title_box .botton_box .msg_title::after { position: absolute; top: 50%; left: 100%; content: ''; display: block; width: 210px; height: 0; border-bottom: 2px solid #e0e0e0; transform: translateX(-10%); }
.title_box .botton_box .msg_title::before { position: absolute; top: 50%; right: 100%; content: ''; display: block; width: 210px; height: 0; transform: translateX(10%); border-bottom: 2px solid #e0e0e0; }
.title_box .botton_box p { text-align: center; font-size: 14px; transform: scale(0.6); }

header { width: 100%; height: 65px; display: flex; justify-content: space-around; align-items: center; background-color: #fff; }
header .logo { width: 54px; height: 33px; }
header .logo img { width: 100%; height: 100%; }
header .navList { height: 100%; }
header .navList ul { display: flex; align-items: center; height: 100%; }
header .navList ul li { font-size: 16px; height: 100%; margin: 0 25px; }
header .navList ul li a { display: flex; height: 99%; font-size: 16px; align-items: center; }
header .navList ul li:hover a { color: #19bc64; }
header .navList ul li .active_color_a { border-bottom: 1px solid #19bc64; color: #19bc64; }

footer { background-color: #202020; width: 100%; height: 313px; }
footer .footer_content { height: 100%; }
footer .footer_content .msg_content { display: flex; height: 100%; justify-content: center; align-items: center; }
footer .footer_content .msg_content .last_content_item > li { margin-bottom: 36px; }
footer .footer_content .msg_content .last_content_item > li span, footer .footer_content .msg_content .last_content_item > li i { color: var(--main-title-font-color); }
footer .footer_content .msg_content .last_content_item .phone_link { border-left: 1px solid #4d4d4d; padding-left: 25px; }
footer .footer_content .msg_content .last_content_item .phone_link li:not(:last-child) { margin-bottom: 29px; }
footer .footer_content .msg_content .last_content_item .phone_link li span, footer .footer_content .msg_content .last_content_item .phone_link li i { color: var(--main-title-font-color); }
footer .footer_content .msg_content .content_item { display: flex; flex-direction: column; height: 250px; }
footer .footer_content .msg_content .content_item li a { color: #999999 !important; font-size: 14px; }
footer .footer_content .msg_content .content_item li a:hover { color: var(--font-color) !important; }
footer .footer_content .msg_content .content_item li:first-child a { font-size: 16px; color: #e6e6e6 !important; margin-bottom: 39px; }
footer .footer_content .msg_content .content_item li:not(:last-child) { margin-right: 100px; margin-bottom: 24px; }
footer .footer_content .msg_content .content_item li { color: #999999; font-size: 14px; }
footer .footer_content .msg_content .content_item li:first-child { font-size: 16px; color: #e6e6e6; margin-bottom: 39px; }
footer .footer_bottom { height: 38px; width: 100%; background-color: #202020; border-top: 1px solid #ccc; display: flex; justify-content: space-around; align-items: center; }
footer .footer_bottom .box { width: 1185px; display: flex; justify-content: space-around; align-items: center; }
footer .footer_bottom .box .trademark_msg { color: var(--main-title-font-color); font-size: 12px; user-select: none; }
footer .footer_bottom .box .link_box { display: flex; align-items: center; justify-content: center; }
footer .footer_bottom .box .link_box p { color: var(--main-title-font-color) !important; user-select: none; }
footer .footer_bottom .box .link_box i { font-size: 25px; color: var(--main-title-font-color); transition: all .3s ease; cursor: pointer; }
footer .footer_bottom .box .link_box i:hover { color: var(--font-color); }
footer .footer_bottom .box .link_box i:not(:last-child) { margin-right: 10px; }

.banner { position: relative; width: 100%; z-index: 1; height: 758px; display: flex; box-sizing: border-box; flex-direction: column; align-items: center; padding-top: 300px; background: url("./assets//images/indexImg/图层2.png") no-repeat; }
.banner .banner_title { margin-bottom: 66px; }
.banner .banner_title h1 { font-size: 50px; color: #fff; letter-spacing: 10px; }
.banner .banner_title p { text-align: center; color: #fff; transform: scale(0.6); letter-spacing: 10px; }
.banner .banner_title_two { text-align: center; }
.banner .banner_title_two p { position: relative; font-size: 16px; color: #ccc; margin-bottom: 20px; }
.banner .banner_title_two p::after { content: ''; display: block; width: 40px; height: 0; border-bottom: 2px solid #fff; position: absolute; left: 50%; bottom: 0; transform: translate(-50%, 300%); }
.banner .banner_title_two h3 { font-size: 25px; color: #fff; font-weight: 400; }
.banner .banner_msg_box { position: relative; width: 150px; height: 40px; border: 1px solid #fff; margin-top: 30px; cursor: pointer; }
.banner .banner_msg_box p { color: #fff; text-align: center; line-height: 40px; }
.banner .banner_msg_box .anime_box { margin-top: 40px; text-align: center; color: #fff; font-size: 24px; }
.banner .banner_list_box { position: absolute; bottom: 15px; margin-top: 50px; }
.banner .banner_list_box ul { display: flex; width: 73px; justify-content: space-around; }
.banner .banner_list_box ul li { width: 14px; height: 14px; border-radius: 50%; border: 1px solid #fff; cursor: pointer; }
.banner .banner_mask { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.353); z-index: -1; }

main .urban_chic { width: 1191px; margin: 90px auto; height: 767px; display: flex; flex-direction: column; align-items: center; box-sizing: border-box; }
main .urban_chic .urban_title .logo { width: 268px; height: 29px; }
main .urban_chic .urban_title .title_bottom_box { position: relative; margin-top: 15px; }
main .urban_chic .urban_title .title_bottom_box p { width: 103px; margin: 0 auto; font-size: 24px; text-align: center; color: #c9a97c; }
main .urban_chic .urban_title .title_bottom_box p::after { position: absolute; top: 50%; left: 30px; transform: translateY(-50%); content: ''; display: block; width: 27px; height: 2px; background-color: #b8b8b8; }
main .urban_chic .urban_title .title_bottom_box p::before { position: absolute; top: 50%; transform: translateY(-50%); right: 30px; content: ''; display: block; width: 27px; height: 2px; background-color: #b8b8b8; }
main .urban_chic .urban_content { margin-top: 17px; width: 100%; height: 100%; display: flex; justify-content: space-between; }
main .urban_chic .urban_content .left, main .urban_chic .urban_content .center, main .urban_chic .urban_content .right { display: flex; flex-direction: column; align-items: center; }
main .urban_chic .urban_content .left span, main .urban_chic .urban_content .center span, main .urban_chic .urban_content .right span { margin-top: 16px; letter-spacing: 2px; color: #999999; }
main .urban_chic .urban_content .left { margin-top: 20px; width: 312px; height: 471px; }
main .urban_chic .urban_content .center { width: 404px; height: 606px; align-self: flex-end; }
main .urban_chic .urban_content .right { width: 332px; height: 584px; }
main .sparkling_city { display: flex; flex-direction: column; align-items: center; box-sizing: border-box; }
main .sparkling_city .sparkling_city_title .logo { width: 268px; height: 29px; }
main .sparkling_city .sparkling_city_title .title_bottom_box { position: relative; margin-top: 15px; }
main .sparkling_city .sparkling_city_title .title_bottom_box p { width: 103px; margin: 0 auto; font-size: 24px; text-align: center; color: #c9a97c; }
main .sparkling_city .sparkling_city_title .title_bottom_box p::after { position: absolute; top: 50%; left: 30px; transform: translateY(-50%); content: ''; display: block; width: 27px; height: 2px; background-color: #b8b8b8; }
main .sparkling_city .sparkling_city_title .title_bottom_box p::before { position: absolute; top: 50%; transform: translateY(-50%); right: 30px; content: ''; display: block; width: 27px; height: 2px; background-color: #b8b8b8; }
main .sparkling_city .sparkling_city_title .logo { width: 355px; height: 29px; }
main .sparkling_city .sparkling_city_content { margin-top: 45px; }
main .sparkling_city .sparkling_city_content .content_top { height: 762px; width: 100%; margin-bottom: 61px; }
main .sparkling_city .sparkling_city_content .content_center { position: relative; margin: 0 auto; margin-bottom: 60px; box-sizing: border-box; border: 8px solid #ccc; width: 1091px; height: 748px; }
main .sparkling_city .sparkling_city_content .content_center .left_img { position: absolute; z-index: 1; top: 65px; left: -60px; width: 690px; height: 486px; }
main .sparkling_city .sparkling_city_content .content_center .right_text { position: absolute; top: 142px; right: 58px; width: 330px; height: 157px; display: flex; flex-direction: column; justify-content: space-between; }
main .sparkling_city .sparkling_city_content .content_center .right_text p { letter-spacing: 2px; color: #666666; font-size: 16px; }
main .sparkling_city .sparkling_city_content .content_center .right_bottom_img { position: absolute; bottom: 10px; right: -42px; width: 302px; height: 302px; }
main .sparkling_city .sparkling_city_content .content_bottom { width: 1141px; height: 463px; margin: 0 auto; display: flex; justify-content: space-between; margin-bottom: 89px; }
main .sparkling_city .sparkling_city_content .content_bottom .massages_box { position: relative; width: 450px; height: 100%; }
main .sparkling_city .sparkling_city_content .content_bottom .massages_box .top_img_box { display: flex; justify-content: space-between; margin-bottom: 45px; }
main .sparkling_city .sparkling_city_content .content_bottom .massages_box .top_img_box .item1 { width: 225px; height: 150px; }
main .sparkling_city .sparkling_city_content .content_bottom .massages_box .top_img_box .item2 { width: 188px; height: 153px; }
main .sparkling_city .sparkling_city_content .content_bottom .massages_box .msg_box { text-align: right; }
main .sparkling_city .sparkling_city_content .content_bottom .massages_box .msg_box p { color: #666666; font-size: 16px; margin-right: 46px; line-height: 30px; }
main .sparkling_city .sparkling_city_content .content_bottom .massages_box button { position: absolute; bottom: 13px; right: 50px; width: 150px; height: 42px; border-radius: 19px; border: solid 1px #949494; }
main .sparkling_city .sparkling_city_content .content_bottom .img_box { width: 678px; height: 463px; }
main .maple_whisper .maple_whisper_title { display: flex; flex-direction: column; align-items: center; }
main .maple_whisper .maple_whisper_title .logo { width: 268px; height: 29px; }
main .maple_whisper .maple_whisper_title .title_bottom_box { position: relative; margin-top: 15px; }
main .maple_whisper .maple_whisper_title .title_bottom_box p { width: 103px; margin: 0 auto; font-size: 24px; text-align: center; color: #c9a97c; }
main .maple_whisper .maple_whisper_title .title_bottom_box p::after { position: absolute; top: 50%; left: 30px; transform: translateY(-50%); content: ''; display: block; width: 27px; height: 2px; background-color: #b8b8b8; }
main .maple_whisper .maple_whisper_title .title_bottom_box p::before { position: absolute; top: 50%; transform: translateY(-50%); right: 30px; content: ''; display: block; width: 27px; height: 2px; background-color: #b8b8b8; }
main .maple_whisper .maple_whisper_title .logo { width: 354px; height: 29px; }
main .maple_whisper .maple_whisper_title .title_bottom_box { margin-bottom: 43px; }
main .maple_whisper .maple_whisper_title .title_bottom_box p::after { left: -50px; }
main .maple_whisper .maple_whisper_title .title_bottom_box p::before { right: -50px; }
main .maple_whisper .maple_whisper_content { display: flex; margin-bottom: 60px; }
main .maple_whisper .maple_whisper_content .left_img { width: 360px; height: 100%; }
main .maple_whisper .maple_whisper_content .center_img { width: 385px; height: 100%; }
main .maple_whisper .maple_whisper_content .right_img { width: 1174px; height: 100%; }
main .maple_whisper .maple_whisper_content_two { position: relative; height: 585px; margin: 0 auto; width: 1198px; display: flex; justify-content: space-between; margin-bottom: 56px; }
main .maple_whisper .maple_whisper_content_two .left_msg { width: 454px; height: 100%; }
main .maple_whisper .maple_whisper_content_two .left_msg .massage_box { margin-left: 62px; margin-bottom: 57px; }
main .maple_whisper .maple_whisper_content_two .left_msg .massage_box h3 { width: 454px; color: #666666; font-size: 22px; margin-bottom: 24px; }
main .maple_whisper .maple_whisper_content_two .left_msg .massage_box p { line-height: 28px; color: #666666; font-size: 16px; }
main .maple_whisper .maple_whisper_content_two .left_msg .goods { width: 454px; height: 237px; }
main .maple_whisper .maple_whisper_content_two .left_msg button { position: absolute; left: 62px; bottom: 12px; width: 150px; height: 42px; border-radius: 21px; border: solid 1px #949494; }
main .maple_whisper .maple_whisper_content_two .right_img { width: 703px; height: 100%; }
main .maple_whisper .maple_whisper_content_three { width: 1198px; height: 380px; margin: 0 auto; margin-bottom: 89px; }
main .maple_whisper .maple_whisper_content_three ul { display: flex; justify-content: space-between; }
main .maple_whisper .maple_whisper_content_three ul li { position: relative; width: 380px; height: 380px; transition: all .5s ease; }
main .maple_whisper .maple_whisper_content_three ul li:hover { box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; }
main .maple_whisper .maple_whisper_content_three ul li p { position: absolute; left: 133px; bottom: 59px; color: #3f3f3f; font-size: 16px; }
main .maple_whisper .logo { width: 354px; height: 29px; }
main .folding_city .folding_city_title { display: flex; flex-direction: column; align-items: center; }
main .folding_city .folding_city_title .logo { width: 268px; height: 29px; }
main .folding_city .folding_city_title .title_bottom_box { position: relative; margin-top: 15px; }
main .folding_city .folding_city_title .title_bottom_box p { width: 103px; margin: 0 auto; font-size: 24px; text-align: center; color: #c9a97c; }
main .folding_city .folding_city_title .title_bottom_box p::after { position: absolute; top: 50%; left: 30px; transform: translateY(-50%); content: ''; display: block; width: 27px; height: 2px; background-color: #b8b8b8; }
main .folding_city .folding_city_title .title_bottom_box p::before { position: absolute; top: 50%; transform: translateY(-50%); right: 30px; content: ''; display: block; width: 27px; height: 2px; background-color: #b8b8b8; }
main .folding_city .folding_city_title .logo { width: 297px; height: 29px; }
main .folding_city .folding_city_title .title_bottom_box { margin-bottom: 43px; }
main .folding_city .folding_city_title .title_bottom_box p::after { left: -50px; }
main .folding_city .folding_city_title .title_bottom_box p::before { right: -50px; }
main .folding_city .folding_city_content { display: flex; margin-bottom: 58px; }
main .folding_city .folding_city_content .left_img { width: 1134px; height: 639px; }
main .folding_city .folding_city_content .center_img { width: 426px; height: 639px; }
main .folding_city .folding_city_content .right_img { width: 360px; height: 639px; }
main .folding_city .folding_city_content_two { width: 1200px; margin: 0 auto; margin-bottom: 62px; display: flex; justify-content: space-between; align-items: center; }
main .folding_city .folding_city_content_two .left_msg { position: relative; width: 454px; }
main .folding_city .folding_city_content_two .left_msg .massage_box { margin-left: 62px; margin-bottom: 57px; }
main .folding_city .folding_city_content_two .left_msg .massage_box h3 { width: 454px; color: #666666; font-size: 22px; margin-bottom: 24px; }
main .folding_city .folding_city_content_two .left_msg .massage_box p { line-height: 28px; color: #666666; font-size: 16px; }
main .folding_city .folding_city_content_two .left_msg .goods { width: 454px; height: 237px; }
main .folding_city .folding_city_content_two .left_msg button { position: absolute; left: 62px; bottom: -58px; width: 150px; height: 42px; border-radius: 21px; border: solid 1px #949494; }
main .folding_city .folding_city_content_two .right_img_box { position: relative; width: 693px; height: 585px; display: flex; background-color: #dec193; }
main .folding_city .folding_city_content_two .right_img_box::after { position: absolute; bottom: 0; left: 0; transform: translateX(-50%); display: block; content: ''; width: 18px; height: 132px; background-color: #dec193; }
main .folding_city .folding_city_content_two .right_img_box .img_box { width: 685px; height: 573px; align-self: flex-end; background-color: #eae9e9; }
main .folding_city .folding_city_content_three { width: 1200px; height: 700px; margin: 0 auto; margin-bottom: 136px; background-color: rgba(255, 192, 203, 0.486); }
main .folding_city .folding_city_content_three ul { display: flex; flex-wrap: wrap; }
main .folding_city .folding_city_content_three ul .li_center { flex-grow: 1; }
main .folding_city .folding_city_content_three ul li { position: relative; width: 350px; height: 350px; transition: all .5s ease; }
main .folding_city .folding_city_content_three ul li:hover { transform: scale(1.1); box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; }
main .folding_city .folding_city_content_three ul li p { position: absolute; left: 50%; bottom: 45px; transform: translateX(-50%); letter-spacing: 1px; color: #3f3f3f; font-size: 14px; }
