@import './comm';

header {
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;

  .logo {
    width: 54px;
    height: 33px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .navList {
    height: 100%;

    ul {
      display: flex;
      align-items: center;
      height: 100%;

      li {
        font-size: 16px;
        height: 100%;
        margin: 0 25px;


        a {
          display: flex;
          height: 100%;
          font-size: 16px;
          align-items: center;
        }

        .active_color_a {
          border-bottom: 1px solid #19bc64;
          color: #19bc64;
        }
      }
    }
  }
}

.banner {
  position: relative;
  width: 100%;
  z-index: 1;
  height: 758px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  padding-top: 300px;
  // justify-content: center;
  background: url('/assets/indexImg/banner1.png') no-repeat;

  .banner_title {
    margin-bottom: 66px;

    h1 {
      font-size: 50px;
      color: #fff;
    }

    p {
      text-align: center;
      color: #fff;
      transform: scale(.6);
      letter-spacing: 10px;
    }
  }

  .banner_title_two {
    text-align: center;

    p {
      position: relative;
      font-size: 16px;
      color: #ccc;
      margin-bottom: 20px;

      &::after {
        content: '';
        display: block;
        width: 40px;
        height: 0;
        border-bottom: 2px solid #fff;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 300%);
      }
    }

    h3 {
      font-size: 25px;
      color: #fff;
      font-weight: 400;
    }
  }

  .banner_msg_box {
    position: relative;
    width: 150px;
    height: 40px;
    border: 1px solid #fff;
    margin-top: 30px;

    p {
      color: #fff;
      text-align: center;
      line-height: 40px;
    }

    .anime_box {
      margin-top: 40px;
      text-align: center;
      color: #fff;
    }
  }



  .banner_list_box {
    position: absolute;
    bottom: 15px;
    margin-top: 50px;

    ul {
      display: flex;
      width: 73px;
      justify-content: space-around;

      li {
        width: 14px;
        height: 14px;
        border-radius: 50%;
        border: 1px solid #fff;
      }
    }
  }

  .banner_mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.353);
    z-index: -1;
  }
}

main {
  .live {
    .title_box {
      margin-top: 137px;
      margin-bottom: 65px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .title {
        width: 789px;
        height: 46px;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .botton_box {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 23px;

        .msg_title {
          position: relative;
          text-align: center;
          width: 178px;
          height: 42px;
          line-height: 42px;
          border: solid 1px #e0e0e0;

          &::after {
            position: absolute;
            top: 50%;
            left: 100%;
            content: '';
            display: block;
            width: 210px;
            height: 0;
            border-bottom: 2px solid #e0e0e0;
            transform: translateX(-10%);
          }

          &::before {
            position: absolute;
            top: 50%;
            right: 100%;
            content: '';
            display: block;
            width: 210px;
            height: 0;
            transform: translateX(10%);
            border-bottom: 2px solid #e0e0e0;
          }
        }

        p {
          text-align: center;
          font-size: 14px;
          transform: scale(.6);
        }
      }
    }

    .live_content_box {
      position: relative;
      background: url('/assets/indexImg/图层2.png');
      height: 936px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .live_content_title {
        position: absolute;
        top: 0;

        ul {
          display: flex;

          li {
            width: 92px;
            height: 34px;
            text-align: center;
            line-height: 34px;
            background-color: #ffffff87;
            border: solid 1px #acacac;
            transform: translateY(-50%);
            cursor: pointer;
          }

          li:not(:last-child) {
            margin-right: 58px;
          }
        }
      }

      .live_content {
        position: relative;
        box-sizing: border-box;
        width: 1498px;
        height: 703px;

        .big_picture {
          width: 1210px;
          height: 560px;
        }

        .big_bottom_msg {
          position: absolute;
          left: 286px;
          bottom: 54px;
          width: 645px;
          height: 62px;
          font-size: 14px;
          font-weight: normal;
          font-stretch: normal;
          line-height: 24px;
          letter-spacing: 1px;

          p {
            color: #fefefe;
            text-align: right;
          }
        }

        .small_picture {
          position: absolute;
          right: 0;
          bottom: 0;
          width: 375px;
          height: 375px;
        }
      }

      .arrow {
        width: 77px;
        height: 77px;
        border-radius: 50%;
        border: 1px solid #fff;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        color: #fff;
      }

      .left_arrow {
        position: absolute;
        left: 70px;
        top: 50%;
        transform: translateY(-50%);
      }

      .right_arrow {
        position: absolute;
        right: 70px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}