@import './comm';

.banner {
  width: 100%;
  height: 846px;
  background: url('../assets/images/exhibition/banner.png');
  margin-bottom: 31px;
}


main {
  .content_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 185px;

    h3 {
      letter-spacing: 3px;
      color: #666666;
      font-size: 30px;
      margin-bottom: 22px;
    }

    p {
      letter-spacing: 2px;
      color: #999999;
      font-size: 18px;
    }
  }

  .content_first_box {
    position: relative;
    margin: 0 auto;
    width: 927px;
    height: 963px;
    border: solid 12px #9fb1bf;
    margin-bottom: 160px;

    .item1 {
      position: absolute;
      left: -132px;
      top: -106px;
      width: 798px;
      height: 529px;
    }

    .item2 {
      position: absolute;
      right: -141px;
      bottom: -72px;
      width: 855px;
      height: 566px;
    }
  }

  .content_second_box {
    width: 1200px;
    margin: 0 auto;
    height: 625px;
    margin-bottom: 81px;
  }

  .content_third_box {
    width: 1186px;
    height: 390px;
    margin: 0 auto;
    margin-bottom: 76px;
    display: flex;
    justify-content: space-between;

    .left_img,
    .right_img {
      width: 588px;
      height: 390px;
    }
  }

  .content_fourth_box {

    .fourth_img {
      margin: 0 auto;
      width: 1100px;
      height: 660px;
      margin-bottom: 116px;
    }
  }

  .content_fifth_box {
    width: 1107px;
    height: 576px;
    margin: 0 auto;
    margin-bottom: 107px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;

    .fifth_title_box {
      h3 {
        width: 100%;
        font-size: 30px;
        text-align: left;
        color: #666666;
      }
    }

    .content_box {
      display: flex;

      .left_content {
        width: 769px;
        height: 512px;
      }

      .right_content {
        width: 337px;
        padding-top: 124px;
        padding-left: 58px;

        h3>a {
          color: #777777;
          font-size: 22px;
        }

        .color_box {
          width: 263px;
          height: 81px;
          margin-top: 16px;
          margin-bottom: 33px;

          ul {
            display: flex;
            height: 100%;
            flex-wrap: wrap;
            align-content: space-between;

            li {
              width: 33px;
              height: 33px;
              border-radius: 50%;
              background-color: pink;
              margin-right: 12px;

              &:nth-child(6) {
                margin-right: 0;
              }

              &:nth-child(12) {
                margin-right: 0;
              }

            }


          }
        }

        p>a {
          color: #777777;
          font-size: 22px;
        }

        button {
          margin-top: 47px;
          width: 212px;
          height: 40px;
          border-radius: 20px;
          border: solid 1px #cac9c9;
          color: #666666;
          font-size: 16px;
          margin-bottom: 36px;
        }

        .msg_p {
          width: 279px;
          height: 63px;

          p {
            color: #999999;
            font-size: 14px;
            line-height: 24px;
          }
        }
      }
    }
  }

  .content_sixth_box {
    position: relative;
    width: 1280px;
    height: 311px;
    border: solid 1px #dad8d8;
    margin: 0 auto;
    margin-bottom: 71px;

    .img_itemBox {
      margin: 0 auto;
      width: 1086px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      li {
        width: 170px;
        height: 170px;
        background-color: #ccc;

        p {
          color: #444444;
          font-size: 14px;
          text-align: center;
        }
      }
    }

    .title_nav {
      position: absolute;
      left: 50%;
      top: 0;
      transform: translate(-50%, -50%);
      width: 279px;
      height: 40px;
      background-color: #fff;

      ul {
        display: flex;
        align-items: center;
        height: 100%;
        justify-content: space-around;

        li {
          width: 100px;
          text-align: center;
          line-height: 40px;
          height: 100%;

          a {
            color: #a9a9a9;
            font-size: 22px;

          }
        }

        li>a:hover {
          padding-bottom: 2px;
          color: var(--font-color);
          border-bottom: var(--font-color) 1px solid;
        }

        li:nth-child(2) {
          height: 20px;
          width: 1px;
          background-color: #ccc;
        }
      }
    }
  }

  .content_seventh_box {
    .seventh_img_box {
      width: 100%;
      height: 398px;
    }
  }
}